@import 'typography';
@import 'icons';
$sm-break: 48em;
// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$link-blue: #0076b6; //why do we have both of these blues?
$byui-blue: #056cb6;
// Utility classes
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media only screen and (min-width:60rem) {
    header {
        width: 100%;
    }
    .site-banner-white-text {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        background-color: $byui-blue;
        width: 100%;
        margin-bottom: 50px;
    }
    .site-banner__left {
        position: absolute;
        width: 180px;
        grid-column: 1;
    }
    .site-banner__right {
        grid-column: 2;
        font-size: 45px;
        text-align: center;
        text-decoration: none;
    }
    span.icon-byui-logo {
        background-color: black;
        color: white;
        height: 80px;
        font-size: 45px;
        text-align: center;
        padding-top: 15px;
        margin-left: 30px;
        width: 80px;
        position: absolute;
    }
    form {
        grid-column: 3;
        height: 30px;
    }
    h1 {
        background-color: $light-gray;
        height: 100px;
        font-family: 'BYUI Open Sans';
        line-height: 4;
        font-style: normal;
        font-weight: 300;
        padding-left: 35px;
    }
    img {
        max-width: 80%;
        margin-top: 30px;
        padding: 30px;
    }
    //images for grid banner
    .covidbanner {
        grid-column: 1 span 2;
    }
    .greenimg {
        grid-row: 2;
        grid-column: 1;
    }
    .grid-img {
        grid-row: 3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }
    .campusvideo {
        grid-column: 1;
        width: 100%;
    }
    .photogallery {
        grid-column: 2;
    }
    .explorecampus {
        grid-column: 3;
    }
    //images
    .sr-only {
        position: absolute;
        width: 10px;
        height: 15px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }
    .grid-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    table,
    td {
        height: 35px;
        border: 1px solid black;
        width: 200px;
        border-collapse: collapse;
        display: block;
    }
    .table-resource {
        display: block;
        grid-column: 2/ span 2;
        text-align: center;
        margin-left: 50px;
        margin-top: 30px;
    }
    td {
        color: $link-blue;
        padding-left: 15px;
    }
    th {
        height: 45px;
        background-color: $dark-gray;
        color: white;
        text-size-adjust: 35px;
    }
    tr:hover {
        background-color: $light-gray;
    }
    .tableDates {
        margin-top: 35px;
        margin-left: 50px;
        th {
            background-color: $byui-blue;
        }
    }
}

@media only screen and (min-width:10em) {
    .grid-content {
        display: grid;
    }
    img {
        width: 100%;
        margin-top: 35px;
    }
    .sr-only {
        display: none;
        height: 80px;
    }
    h1 {
        background-color: $light-gray;
        height: 100px;
        font-family: 'BYUI Open Sans';
        line-height: 4;
        font-style: normal;
        font-weight: 300;
        padding-left: 35px;
        padding-top: 1px;
        display: flex;
        text-align: center;
    }
    .site-banner-white-text {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        background-color: $byui-blue;
        height: 70px;
        width: 100%;
        margin-bottom: 0;
    }
    .site-banner__left {
        position: absolute;
        width: 180px;
        color: white;
        grid-column: 1;
    }
    .site-banner__right {
        grid-column: 3;
        text-align: center;
        text-decoration: none;
        position: relative;
        font-size: 40px;
        color: whitesmoke;
    }
    span.icon-byui-logo {
        background-color: black;
        color: white;
        height: 80px;
        font-size: 40px;
        text-align: center;
        padding-top: 20px;
        margin-left: 30px;
        padding: 20px;
        width: 100px;
        position: absolute;
    }
}