@import 'typography';
@import 'icons';
$sm-break: 48em;
// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$link-blue: #0076b6; //why do we have both of these blues?
$byui-blue: #056cb6;
// Utility classes
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media only screen and (min-width:10rem) {
    .grid-content {
        display: grid;
    }
    img {
        width: 100%;
        margin-top: 35px;
    }
    .sr-only {
        display: none;
        height: 80px;
    }
    form {
        grid-column: 3;
        height: 30px;
        display: none;
    }
    h1 {
        background-color: $light-gray;
        font-family: 'BYUI Open Sans';
        line-height: 4;
        font-style: normal;
        font-weight: 300;
        padding-left: 20px;
        padding-top: 1px;
        font-size: 20px;
        display: flex;
        text-align: center;
    }
    .site-banner-white-text {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        background-color: $byui-blue;
        height: 70px;
        width: 100%;
        margin-bottom: 0;
    }
    .site-banner__left {
        position: absolute;
        width: 180px;
        color: white;
        grid-column: 1;
    }
    .site-banner__right {
        grid-column: 3;
        text-align: center;
        text-decoration: none;
        position: relative;
        margin-top: 15px;
        text-decoration: none;
        padding-left: 15px;
        font-size: 40px;
    }
    a:link {
        text-decoration: none;
    }
    span.icon-byui-logo {
        background-color: black;
        color: white;
        height: 80px;
        font-size: 40px;
        text-align: center;
        padding-top: 20px;
        margin-left: 20px;
        padding: 20px;
        width: 100px;
        position: absolute;
    }
    .icon-search,
    .icon-audience,
    .icon-menu {
        color: white;
        margin-left: 5px;
        text-decoration: none;
    }
}

@media only screen and (min-width:60rem) {
    header {
        width: 100%;
        margin: 0px;
    }
    main {
        font-family: 'BYUI Open Sans';
        font-style: normal;
        width: 1200px;
        margin-left: 250px;
        margin-right: 250px;
        margin-top: 0;
    }
    body {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        height: 100%;
    }
    .site-banner-white-text {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        background-color: $byui-blue;
        width: 100%;
        margin-bottom: 0;
    }
    .site-banner__left {
        position: absolute;
        width: 180px;
        grid-column: 1;
    }
    .site-banner__right {
        grid-column: 2;
        font-size: 45px;
        text-align: center;
        margin-left: 10px;
        text-decoration: none;
    }
    span.icon-byui-logo {
        background-color: black;
        color: white;
        height: 80px;
        font-size: 40px;
        text-align: center;
        padding-top: 15px;
        margin-left: 250px;
        width: 100px;
        position: absolute;
    }
    h1 {
        background-color: $light-gray;
        height: 100px;
        font-family: 'BYUI Open Sans';
        line-height: 4;
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        padding-left: 250px;
        margin: 0px;
    }
    h3 {
        color: $byui-blue;
        font-family: 'BYUI Open Sans';
        line-height: 4;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 0px;
    }
    img {
        margin-top: 30px;
    }
    .grid-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        height: 500px;
    }
    //images for grid banner
    .covidbanner {
        grid-column: 1 span 2;
        width: 100%;
    }
    select {
        margin-bottom: 30px;
        text-align: left;
        font-size: 20px;
        background-color: $light-gray;
        border-radius: 5px;
        height: 45px;
        width: 320px;
    }
    .firstbox {
        grid-column: 1 / span 2;
        grid-row: 1;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr
    }
    .greenimg {
        grid-row: 2;
        grid-column: 1;
        width: 100%;
    }
    .grid-img {
        grid-row: 2;
        grid-column: 1/span 2;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px
    }
    .campusvideo {
        grid-column: 1;
    }
    .photogallery {
        grid-column: 2;
    }
    .explorecampus {
        grid-column: 3;
    }
    .newfeed-grid {
        margin-top: 35px;
        grid-row: 3;
        grid-column: 1 / span 2;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        height: 200px;
        img {
            margin-left: 5px;
            height: 150px;
            width: 90%;
        }
    }
    .devsect {
        grid-column: 3;
        grid-row: 3;
        width: 80%;
        padding-left: 40px;
    }
    //section 3 newsfeed
    .classsec {
        grid-row: 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .text1 {
            grid-column: 2/ span 2;
        }
    }
    .teachersec {
        grid-row: 2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .text2 {
            grid-column: 2/ span 2;
        }
    }
    .adsection {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .text3 {
            grid-column: 2/ span 2;
        }
    }
    //images
    .sr-only {
        position: absolute;
        width: 10px;
        height: 15px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }
    td {
        height: 35px;
        border: 1px solid black;
        border-collapse: collapse;
        display: block;
        width: 320px;
        color: $link-blue;
        padding-left: 15px;
        font-size: 18px;
    }
    .table-resource {
        display: block;
        grid-column: 3;
        margin-left: 50px;
        margin-top: 30px;
    }
    th {
        height: 45px;
        background-color: $dark-gray;
        color: white;
        font-size: 22px;
        font-family: 'BYUI Open Sans';
        font-style: normal;
        font-weight: 400;
    }
    tr:hover {
        background-color: $light-gray;
    }
    .tableDates {
        margin-top: 35px;
        height: 55px;
        width: 320px;
        th {
            background-color: $byui-blue;
            font-size: 22px;
            font-family: 'BYUI Open Sans';
            font-style: normal;
            font-weight: 400;
        }
        td {
            height: 50px;
            border-collapse: collapse;
            width: 320px;
        }
    }
}